html, body {
    overflow: hidden;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-container {
    width: 80vmin;
    aspect-ratio: 1;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.grid-item {
    background-color: white;
    width: 5vmin;
    aspect-ratio: 1;
    box-sizing: border-box;
    /*border: 1px solid rgb(189, 189, 189);*/
}

.toolContainer {
    width: 30vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}